<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../css/style.css" rel="stylesheet">
    <title>CRUD</title>
</head>
<body>
       <form id="update-form">
        <input type="text" name="update-id" id="status" readonly/>
        <input type="checkbox" name="update-status" id="status" autocomplete="off">
        <input type="text" name="update-taskname" id="task-name" placeholder="Task Name" autocomplete="off"  required>
        <input type="date" name="update-date" id="date" autocomplete="off" required>
        <button type="submit">Update Task</button>
       </form>
     <script defer src="../js/update.js" ></script>
</body>
</html>